body
{
   background-color: #F8F9FA;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
#wb_logoLayoutGrid
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   animation: animate-fade-in-down 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
}
#logoLayoutGrid
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#logoLayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#logoLayoutGrid > .row > .col-1, #logoLayoutGrid > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#logoLayoutGrid > .row > .col-1, #logoLayoutGrid > .row > .col-2
{
   float: left;
}
#logoLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#logoLayoutGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: right;
}
#logoLayoutGrid:before,
#logoLayoutGrid:after,
#logoLayoutGrid .row:before,
#logoLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#logoLayoutGrid:after,
#logoLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#logoLayoutGrid > .row > .col-1, #logoLayoutGrid > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 10px 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3, #LayoutGrid1 > .col-4, #LayoutGrid1 > .col-5, #LayoutGrid1 > .col-6
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3, #LayoutGrid1 > .col-4, #LayoutGrid1 > .col-5, #LayoutGrid1 > .col-6
{
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid1 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid1 > .col-5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid1 > .col-6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3, #LayoutGrid1 > .col-4, #LayoutGrid1 > .col-5, #LayoutGrid1 > .col-6
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_relatedLayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#relatedLayoutGrid2
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#relatedLayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#relatedLayoutGrid2 > .row > .col-1, #relatedLayoutGrid2 > .row > .col-2, #relatedLayoutGrid2 > .row > .col-3, #relatedLayoutGrid2 > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#relatedLayoutGrid2 > .row > .col-1, #relatedLayoutGrid2 > .row > .col-2, #relatedLayoutGrid2 > .row > .col-3, #relatedLayoutGrid2 > .row > .col-4
{
   float: left;
}
#relatedLayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: center;
}
#relatedLayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#relatedLayoutGrid2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#relatedLayoutGrid2 > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#relatedLayoutGrid2:before,
#relatedLayoutGrid2:after,
#relatedLayoutGrid2 .row:before,
#relatedLayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#relatedLayoutGrid2:after,
#relatedLayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#relatedLayoutGrid2 > .row > .col-1, #relatedLayoutGrid2 > .row > .col-2, #relatedLayoutGrid2 > .row > .col-3, #relatedLayoutGrid2 > .row > .col-4
{
   float: none;
   width: 100% !important;
}
}
#wb_logoHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#logoHeading
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_relatedCard1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   animation: animate-fade-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#relatedCard1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#relatedCard1-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -90px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#relatedCard1-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 80px rgba(216,216,216,0.00) solid;
   border-width: 80px 0 0 0;
   height: 0;
   line-height: 0;
}
#relatedCard1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#relatedCard1-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#relatedCard1-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#relatedCard1-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 20px 6px 20px;
   border: 1px solid #0275D8;
   border-radius: 0px;
   background-color: rgba(2,117,216,0.78);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#relatedCard1-card-item5
{
   transform: translate(-200px,0px) rotate(0deg) ;
   opacity: 0;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#wb_relatedCard1:hover #relatedCard1-card-item5
{
   transform: rotate(0deg) ;
   opacity: 1;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#relatedCard1-card-item5 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#relatedCard1-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   animation: animate-fade-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -90px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 80px rgba(216,216,216,0.00) solid;
   border-width: 80px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card1-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card1-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card1-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 20px 6px 20px;
   border: 1px solid #0275D8;
   border-radius: 0px;
   background-color: rgba(2,117,216,0.78);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card1-card-item5
{
   transform: translate(-200px,0px) rotate(0deg) ;
   opacity: 0;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#wb_Card1:hover #Card1-card-item5
{
   transform: rotate(0deg) ;
   opacity: 1;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#Card1-card-item5 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card1-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   animation: animate-fade-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -90px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 80px rgba(216,216,216,0.00) solid;
   border-width: 80px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card2-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card2-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card2-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 20px 6px 20px;
   border: 1px solid #0275D8;
   border-radius: 0px;
   background-color: rgba(2,117,216,0.78);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card2-card-item5
{
   transform: translate(-200px,0px) rotate(0deg) ;
   opacity: 0;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#wb_Card2:hover #Card2-card-item5
{
   transform: rotate(0deg) ;
   opacity: 1;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#Card2-card-item5 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card2-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   animation: animate-fade-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card3-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -90px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 80px rgba(216,216,216,0.00) solid;
   border-width: 80px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card3-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card3-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card3-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card3-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 20px 6px 20px;
   border: 1px solid #0275D8;
   border-radius: 0px;
   background-color: rgba(2,117,216,0.78);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card3-card-item5
{
   transform: translate(-200px,0px) rotate(0deg) ;
   opacity: 0;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#wb_Card3:hover #Card3-card-item5
{
   transform: rotate(0deg) ;
   opacity: 1;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#Card3-card-item5 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card3-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_Card4
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   animation: animate-fade-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card4-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card4-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -90px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 80px rgba(216,216,216,0.00) solid;
   border-width: 80px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card4-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card4-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card4-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card4-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 20px 6px 20px;
   border: 1px solid #0275D8;
   border-radius: 0px;
   background-color: rgba(2,117,216,0.78);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card4-card-item5
{
   transform: translate(-200px,0px) rotate(0deg) ;
   opacity: 0;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#wb_Card4:hover #Card4-card-item5
{
   transform: rotate(0deg) ;
   opacity: 1;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#Card4-card-item5 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card4-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_Card5
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   animation: animate-fade-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card5-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card5-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -90px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card5-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 80px rgba(216,216,216,0.00) solid;
   border-width: 80px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card5-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card5-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card5-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card5-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 20px 6px 20px;
   border: 1px solid #0275D8;
   border-radius: 0px;
   background-color: rgba(2,117,216,0.78);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card5-card-item5
{
   transform: translate(-200px,0px) rotate(0deg) ;
   opacity: 0;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#wb_Card5:hover #Card5-card-item5
{
   transform: rotate(0deg) ;
   opacity: 1;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#Card5-card-item5 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card5-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_Card6
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   animation: animate-fade-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card6-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card6-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -90px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card6-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 80px rgba(216,216,216,0.00) solid;
   border-width: 80px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card6-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card6-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card6-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card6-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 20px 6px 20px;
   border: 1px solid #0275D8;
   border-radius: 0px;
   background-color: rgba(2,117,216,0.78);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card6-card-item5
{
   transform: translate(-200px,0px) rotate(0deg) ;
   opacity: 0;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#wb_Card6:hover #Card6-card-item5
{
   transform: rotate(0deg) ;
   opacity: 1;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#Card6-card-item5 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card6-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_Card7
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   animation: animate-fade-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card7-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card7-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -90px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card7-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 80px rgba(216,216,216,0.00) solid;
   border-width: 80px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card7-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card7-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card7-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card7-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 20px 6px 20px;
   border: 1px solid #0275D8;
   border-radius: 0px;
   background-color: rgba(2,117,216,0.78);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card7-card-item5
{
   transform: translate(-200px,0px) rotate(0deg) ;
   opacity: 0;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#wb_Card7:hover #Card7-card-item5
{
   transform: rotate(0deg) ;
   opacity: 1;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#Card7-card-item5 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card7-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_Card8
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   animation: animate-fade-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card8-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card8-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -90px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card8-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 80px rgba(216,216,216,0.00) solid;
   border-width: 80px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card8-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card8-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card8-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card8-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 20px 6px 20px;
   border: 1px solid #0275D8;
   border-radius: 0px;
   background-color: rgba(2,117,216,0.78);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card8-card-item5
{
   transform: translate(-200px,0px) rotate(0deg) ;
   opacity: 0;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#wb_Card8:hover #Card8-card-item5
{
   transform: rotate(0deg) ;
   opacity: 1;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#Card8-card-item5 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card8-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_Card9
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   animation: animate-fade-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card9-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card9-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -90px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card9-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 80px rgba(216,216,216,0.00) solid;
   border-width: 80px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card9-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card9-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card9-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card9-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 20px 6px 20px;
   border: 1px solid #0275D8;
   border-radius: 0px;
   background-color: rgba(2,117,216,0.78);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card9-card-item5
{
   transform: translate(-200px,0px) rotate(0deg) ;
   opacity: 0;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#wb_Card9:hover #Card9-card-item5
{
   transform: rotate(0deg) ;
   opacity: 1;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#Card9-card-item5 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card9-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_Card10
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   animation: animate-fade-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card10-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card10-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -90px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card10-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 80px rgba(216,216,216,0.00) solid;
   border-width: 80px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card10-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card10-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card10-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card10-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 20px 6px 20px;
   border: 1px solid #0275D8;
   border-radius: 0px;
   background-color: rgba(2,117,216,0.78);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card10-card-item5
{
   transform: translate(-200px,0px) rotate(0deg) ;
   opacity: 0;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#wb_Card10:hover #Card10-card-item5
{
   transform: rotate(0deg) ;
   opacity: 1;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#Card10-card-item5 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card10-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_Card11
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   animation: animate-fade-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card11-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card11-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -90px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card11-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 80px rgba(216,216,216,0.00) solid;
   border-width: 80px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card11-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card11-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card11-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card11-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 20px 6px 20px;
   border: 1px solid #0275D8;
   border-radius: 0px;
   background-color: rgba(2,117,216,0.78);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card11-card-item5
{
   transform: translate(-200px,0px) rotate(0deg) ;
   opacity: 0;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#wb_Card11:hover #Card11-card-item5
{
   transform: rotate(0deg) ;
   opacity: 1;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#Card11-card-item5 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card11-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_Card12
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   animation: animate-fade-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card12-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card12-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -90px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card12-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 80px rgba(216,216,216,0.00) solid;
   border-width: 80px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card12-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card12-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card12-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card12-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 20px 6px 20px;
   border: 1px solid #0275D8;
   border-radius: 0px;
   background-color: rgba(2,117,216,0.78);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card12-card-item5
{
   transform: translate(-200px,0px) rotate(0deg) ;
   opacity: 0;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#wb_Card12:hover #Card12-card-item5
{
   transform: rotate(0deg) ;
   opacity: 1;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#Card12-card-item5 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card12-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_Card13
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   animation: animate-fade-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card13-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card13-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -90px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card13-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 80px rgba(216,216,216,0.00) solid;
   border-width: 80px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card13-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card13-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card13-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card13-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 20px 6px 20px;
   border: 1px solid #0275D8;
   border-radius: 0px;
   background-color: rgba(2,117,216,0.78);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card13-card-item5
{
   transform: translate(-200px,0px) rotate(0deg) ;
   opacity: 0;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#wb_Card13:hover #Card13-card-item5
{
   transform: rotate(0deg) ;
   opacity: 1;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#Card13-card-item5 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card13-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_Card14
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   animation: animate-fade-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card14-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card14-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -90px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card14-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 80px rgba(216,216,216,0.00) solid;
   border-width: 80px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card14-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card14-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card14-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card14-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 20px 6px 20px;
   border: 1px solid #0275D8;
   border-radius: 0px;
   background-color: rgba(2,117,216,0.78);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card14-card-item5
{
   transform: translate(-200px,0px) rotate(0deg) ;
   opacity: 0;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#wb_Card14:hover #Card14-card-item5
{
   transform: rotate(0deg) ;
   opacity: 1;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#Card14-card-item5 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card14-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_Card15
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   animation: animate-fade-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#Card15-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card15-card-item0
{
   box-sizing: border-box;
   margin: 0 0 -90px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card15-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 80px rgba(216,216,216,0.00) solid;
   border-width: 80px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card15-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card15-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card15-card-item4
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card15-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 20px 6px 20px;
   border: 1px solid #0275D8;
   border-radius: 0px;
   background-color: rgba(2,117,216,0.78);
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card15-card-item5
{
   transform: translate(-200px,0px) rotate(0deg) ;
   opacity: 0;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#wb_Card15:hover #Card15-card-item5
{
   transform: rotate(0deg) ;
   opacity: 1;
   transition: transform 200ms linear 0ms, opacity 200ms linear 0ms;
}
#Card15-card-item5 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card15-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#navigationMenu
{
   list-style: none;
   padding: 8px 15px 8px 15px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 4px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: center;
}
#navigationMenu > li
{
   display: inline-block;
   font-size: 15px;
   text-transform: none;
}
#navigationMenu a
{
   color: #FFFFFF;
   text-decoration: none;
}
#navigationMenu a:hover
{
   color: #23527C;
   text-decoration: underline;
}
#navigationMenu > .active
{
   color: #23527C;
}
#navigationMenu > .active a
{
   color: inherit;
   pointer-events: none;
}
#navigationMenu > li + li:before
{
   content: "|";
   padding: 0 20px;
   color: #E1E1E1;
}
#navigationMenu li i
{
   font-size: 15px;
   width: 17px;
}
#wb_Checkbox1
{
   margin: 0;
}
#Checkbox1:hover
{
   background-color: #000000;
   transition: background-color 200ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms;
}
#Checkbox1
{
   transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms;
}
#wb_Checkbox1
{
   position: relative;
}
#wb_Checkbox1, #wb_Checkbox1 *, #wb_Checkbox1 *::before, #wb_Checkbox1 *::after
{
   box-sizing: border-box;
}
#wb_Checkbox1 input[type='checkbox']
{
   position: relative;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 30px;
   height: 30px;
   left: 0;
   top: 0;
}
#wb_Checkbox1 label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   padding: 0;
}
#wb_Checkbox1 label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 30px;
   height: 30px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 0px solid #C5C5C5;
   border-radius: 4px;
}
#wb_Checkbox1 label::after
{
   display: inline-block;
   position: absolute;
   width: 30px;
   height: 30px;
   left: 0;
   top: 0;
   visibility: visible;
   padding: 0;
   text-align: center;
   line-height: 30px;
}
#wb_Checkbox1 input[type='checkbox']:checked + label::after
{
   content: " ";
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23FFFFFF%22%20viewBox%3d%220%200%20120%20120%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M110%2031%20C111%2033%2c%20112%2034%2c%20112%2036%20C112%2038%2c%20111%2039%2c%20110%2040%20L62%2089%20L52%2098%20C51%2099%2c%2050%20100%2c%2048%20100%20C46%20100%2c%2045%2099%2c%2043%2098%20L34%2089%20L10%2065%20C9%2063%2c%208%2062%2c%208%2060%20C8%2058%2c%209%2057%2c%2010%2056%20L19%2046%20C20%2045%2c%2022%2045%2c%2024%2045%20C25%2045%2c%2027%2045%2c%2028%2046%20L48%2066%20L92%2022%20C93%2021%2c%2095%2020%2c%2096%2020%20C98%2020%2c%20100%2021%2c%20101%2022%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
   background-size: 80% 80%;
}
#wb_Checkbox1 input[type='checkbox']:checked + label::before
{
   background-color: #1E1E1E;
   background-image: none;
   border-color: #1E1E1E;
}
#wb_Checkbox1 input[type='checkbox']:focus + label::before
{
   outline: thin dotted;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: inline-block;
   margin: 0;
   width: 45px;
   height: 29px;
}
